body {
    position: relative;
    display: flex;
    min-width: 100svw;
    min-height: 100svh;
    overflow: hidden;
    gap: 2em;
    background: linear-gradient(-45deg, #ffeb3b, #74efff, #9c27b0);
    background-size: 400% 400%;
    animation: gradient-bg 20s ease infinite;
}

.form-el {
    position: absolute;
    top: 20%;
    left: 35%;
    min-width: 30vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    background: #eee;
    border-radius: 0.7em;
    justify-content: center;
    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        gap: .3em;
        input {
            padding: .6em  .5em;
            border: none;
        }
        label {
            padding: 0 .4em;
        }
    }
    .btn {
        max-width: 30%;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        border: none;
        cursor: pointer;
        font-weight: bold;
        transition: ease-in-out 200ms;
    }
}

.login-form {
    background-color: #15172B;
    .heading {
        h2 {
            color: azure;
        }
    }
    p {
        color: azure;
        span {
            color: orchid;
            cursor: pointer;
            svg {
                max-width: 1em;
                max-height: 1em;
                fill: orchid;
                display: none;
            }
        }
        span:hover {
            text-decoration: underline;
            svg {
                display: inline;
            }
        }
    }
    fieldset {
        input {
            background-color: transparent;
            color: azure;
            outline: none;
            border-bottom: 2px solid azure;
            opacity: .3;
        }
        input:focus {
            opacity: 1;
        }
        label {
            color: azure;
        }
    }
    #login-btn {
        background: linear-gradient(to left, rgba(212,251,63,1) 32%, rgba(252,176,70,1) 68%);
        background-size: 200% 100%;
        background-position:left bottom;
        transition: ease-in-out 200ms;
        transition:all 600ms ease;
    }
    #login-btn:hover {
        background-position:right bottom;
    }
}

.register-form {
    opacity: 0;
    top: 0;
    left: 65%;
    .heading {
        h2 {
            color: #6658D3;
        }
    }
    fieldset {
        label {
            color: cornflowerblue;
        }
        input {
            background-color: transparent;
            color: black;
            outline: none;
            border-bottom: 2px solid cornflowerblue;
            opacity: .3;
        }
        input:focus {
            opacity: 1;
        }
    }
    p {
        color: cornflowerblue;
        span {
            color: orchid;
            cursor: pointer;
            svg {
                fill: orchid;
                max-width: 1em;
                max-height: 1em;
                display: none;
            }
        }
        span:hover {
            text-decoration: underline;
            svg {
                display: inline;
            }
        }
    }
  #register-btn {
    background: linear-gradient(to left, rgba(63,251,135,1) 32%, rgba(252,70,199,0.9276960784313726) 68%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition: ease-in-out 200ms;
    transition:all 600ms ease;
  }
  #register-btn:hover {
    background-position:right bottom;
  }
    .tac-span {
        font-size: clamp(1rem, 1.2rem, 1.5rem);
        font-style: italic;
        display: block;
        margin: 0 auto;
        .open-dialog-span {
            color: orchid;
            cursor: pointer;
        }
        .open-dialog-span:hover {
            text-decoration: underline;
        }
    }
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}